.nav-link{
  margin-left: 60px;
  font-size: large;
  color:rgb(2, 2, 165);
}
.imglogo{
  margin-left: 40px;
}
.navbar{
  box-shadow: 1px 0 4px rgba(0, 4, 255, 0.5);
  margin-bottom: 4%;
  background-color: white;
}
button{
  color: white;
  background-color: orange;
  box-shadow: 1px 0 4px orange;
  border-radius: 5px;
  margin-left:750px;
  border-color: orange;
}
