<app-nav-home></app-nav-home>
<div class="row">
  <div class="container">
    <div class="title">
      <h1>Tu Farmacia desde una página web</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul class="list">
      <li class="list-item">
        <div class="list-item_content">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            width="60"
            height="60"
          >
            <path
              fill-rule="evenodd"
              d="M1.543 7.25h2.733c.144-2.074.866-3.756 1.58-4.948.12-.197.237-.381.353-.552a6.506 6.506 0 00-4.666 5.5zm2.733 1.5H1.543a6.506 6.506 0 004.666 5.5 11.13 11.13 0 01-.352-.552c-.715-1.192-1.437-2.874-1.581-4.948zm1.504 0h4.44a9.637 9.637 0 01-1.363 4.177c-.306.51-.612.919-.857 1.215a9.978 9.978 0 01-.857-1.215A9.637 9.637 0 015.78 8.75zm4.44-1.5H5.78a9.637 9.637 0 011.363-4.177c.306-.51.612-.919.857-1.215.245.296.55.705.857 1.215A9.638 9.638 0 0110.22 7.25zm1.504 1.5c-.144 2.074-.866 3.756-1.58 4.948-.12.197-.237.381-.353.552a6.506 6.506 0 004.666-5.5h-2.733zm2.733-1.5h-2.733c-.144-2.074-.866-3.756-1.58-4.948a11.738 11.738 0 00-.353-.552 6.506 6.506 0 014.666 5.5zM8 0a8 8 0 100 16A8 8 0 008 0z"
            ></path>
          </svg>
          <h2 class="list-parrafo">Todo desde la Web</h2>
          <p class="list-parrafo">
            <a href="javascript:void(0)" (click)="openInfoWeb()"
              >+ informacion</a
            >
          </p>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item_content">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            width="60"
            height="60"
          >
            <path
              fill-rule="evenodd"
              d="M11.536 3.464a5 5 0 010 7.072L8 14.07l-3.536-3.535a5 5 0 117.072-7.072v.001zm1.06 8.132a6.5 6.5 0 10-9.192 0l3.535 3.536a1.5 1.5 0 002.122 0l3.535-3.536zM8 9a2 2 0 100-4 2 2 0 000 4z"
            ></path>
          </svg>
          <h2 class="list-parrafo">En cualquier lugar</h2>
          <p class="list-parrafo">
            <a href="javascript:void(0)" (click)="openInfoLugar()"
              >+ informacion</a
            >
          </p>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item_content">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            width="60"
            height="60"
          >
            <path
              fill-rule="evenodd"
              d="M4 4v2h-.25A1.75 1.75 0 002 7.75v5.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-5.5A1.75 1.75 0 0012.25 6H12V4a4 4 0 10-8 0zm6.5 2V4a2.5 2.5 0 00-5 0v2h5zM12 7.5h.25a.25.25 0 01.25.25v5.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-5.5a.25.25 0 01.25-.25H12z"
            ></path>
          </svg>
          <h2 class="list-parrafo">Seguridad</h2>
          <p class="list-parrafo">
            <a href="javascript:void(0)" (click)="openInfoSeguridad()"
              >+ informacion</a
            >
          </p>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item_content">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            width="60"
            height="60"
          >
            <path
              fill-rule="evenodd"
              d="M5.5 3.5a2 2 0 100 4 2 2 0 000-4zM2 5.5a3.5 3.5 0 115.898 2.549 5.507 5.507 0 013.034 4.084.75.75 0 11-1.482.235 4.001 4.001 0 00-7.9 0 .75.75 0 01-1.482-.236A5.507 5.507 0 013.102 8.05 3.49 3.49 0 012 5.5zM11 4a.75.75 0 100 1.5 1.5 1.5 0 01.666 2.844.75.75 0 00-.416.672v.352a.75.75 0 00.574.73c1.2.289 2.162 1.2 2.522 2.372a.75.75 0 101.434-.44 5.01 5.01 0 00-2.56-3.012A3 3 0 0011 4z"
            ></path>
          </svg>
          <h2 class="list-parrafo">Control de Roles</h2>
          <p class="list-parrafo">
            <a href="javascript:void(0)" (click)="openInfoRoles()"
              >+ informacion</a
            >
          </p>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item_content">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            width="60"
            height="60"
          >
            <path
              fill-rule="evenodd"
              d="M2 2.75C2 1.784 2.784 1 3.75 1h2.5a.75.75 0 010 1.5h-2.5a.25.25 0 00-.25.25v10.5c0 .138.112.25.25.25h2.5a.75.75 0 010 1.5h-2.5A1.75 1.75 0 012 13.25V2.75zm10.44 4.5H6.75a.75.75 0 000 1.5h5.69l-1.97 1.97a.75.75 0 101.06 1.06l3.25-3.25a.75.75 0 000-1.06l-3.25-3.25a.75.75 0 10-1.06 1.06l1.97 1.97z"
            ></path>
          </svg>
          <h2 class="list-parrafo">Acceso facil</h2>
          <p class="list-parrafo">
            <a href="javascript:void(0)" (click)="openInfoAcceso()"
              >+ informacion</a
            >
          </p>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item_content">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            width="60"
            height="60"
          >
            <path
              fill-rule="evenodd"
              d="M1.5 2.75a.25.25 0 01.25-.25h8.5a.25.25 0 01.25.25v5.5a.25.25 0 01-.25.25h-3.5a.75.75 0 00-.53.22L3.5 11.44V9.25a.75.75 0 00-.75-.75h-1a.25.25 0 01-.25-.25v-5.5zM1.75 1A1.75 1.75 0 000 2.75v5.5C0 9.216.784 10 1.75 10H2v1.543a1.457 1.457 0 002.487 1.03L7.061 10h3.189A1.75 1.75 0 0012 8.25v-5.5A1.75 1.75 0 0010.25 1h-8.5zM14.5 4.75a.25.25 0 00-.25-.25h-.5a.75.75 0 110-1.5h.5c.966 0 1.75.784 1.75 1.75v5.5A1.75 1.75 0 0114.25 12H14v1.543a1.457 1.457 0 01-2.487 1.03L9.22 12.28a.75.75 0 111.06-1.06l2.22 2.22v-2.19a.75.75 0 01.75-.75h1a.25.25 0 00.25-.25v-5.5z"
            ></path>
          </svg>
          <h2 class="list-parrafo">Soporte</h2>
          <p class="list-parrafo">
            <a href="javascript:void(0)" (click)="openInfoSoporte()"
              >+ informacion</a
            >
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="moreInfoWeb" *ngIf="!infoWeb">
      <div class="row">
        <div class="col">
          <h4>Todo desde la Web</h4>
          <p>
            Sera capaz de visualizar toda la gestion de su negocio con solo
            tener un dispositivo con acceso a la web.
          </p>
        </div>
        <div class="col">
          <img
            src="../../../assets/infoDispWeb.jpg"
            alt=""
            width="300"
            height="200"
          />
        </div>
      </div>
    </div>
    <div class="moreInfoWeb" *ngIf="!infoLugar">
      <div class="row">
        <div class="col">
          <h4>En cualquier lugar</h4>
          <p>
            Lleva la gestion de tu negocio siempre contigo de tal manera que puedas accedar a
            todo desde cualquier lugar que te encuentres.
          </p>
        </div>
        <div class="col">
          <img
            src="../../../assets/cualquierLugar.jpg"
            alt=""
            width="300"
            height="200"
          />
        </div>
      </div>
    </div>
    <div class="moreInfoWeb" *ngIf="!infoSeguridad">
      <div class="row">
        <div class="col">
          <h4>Seguridad</h4>
          <p>Tu informacion permanecera siempre segura y a la mano cuando la necesites </p>
        </div>
        <div class="col">
          <img
            src="../../../assets/seguridad.jpg"
            alt=""
            width="300"
            height="200"
          />
        </div>
      </div>
    </div>
    <div class="moreInfoWeb" *ngIf="!infoRoles">
      <div class="row">
        <div class="col">
          <h4>Control de Roles</h4>
          <p>
            Dependiendo del Usuario que este usando la pagina tendra diferentes
            privilegios, de esta forma se llevara un mejor manejo de la misma, ya que solo el
            gerente podra modificar los datos importantes.
          </p>
        </div>
        <div class="col">
          <img
            src="../../../assets/roles.png"
            alt=""
            width="400"
            height="200"
          />
        </div>
      </div>
    </div>
    <div class="moreInfoWeb" *ngIf="!infoAcceso">
      <div class="row">
        <div class="col">
          <h4>Acceso facil</h4>
          <p>
            EasyDataManeger esta hecho para agilizar sus ventas y toda la gestion
            de su negocio de tal manera que podra visualizar lo que necesite de
            manera rapida y sencilla con una interfaz facil de entender y sobre todo eficiente.
          </p>
        </div>
        <div class="col">
          <img
            src="../../../assets/Acceso facil.jpg"
            alt=""
            width="300"
            height="200"
          />
        </div>
      </div>
    </div>
    <div class="moreInfoWeb" *ngIf="!infoSoporte">
      <div class="row">
        <div class="col">
          <h4>Soporte</h4>
          <p>
            EasyDataManager ofrece la posibilidad de ayudar a nuestros clientes
            para cualquier duda, o apoyarlos en alguna falla si se requiere.
          </p>
        </div>
        <div class="col">
          <img
            src="../../../assets/soporte.png"
            alt=""
            width="300"
            height="200"
          />
        </div>
      </div>
    </div>
  </div>
</div>


<section>
  <div class="container">
    <h1 class="subtitulotpv">Página de manejo simple</h1>
    <div class="row">
      <div class="col">
        <p>
          EasyDataManager ayuda a que tus ventas sean mas eficientes y rapidas
          mejorando el atencion al cliente y sobretodo llevando una gestion mas
          eficiente de tu Farmacia.
        </p>
      </div>
      <div class="col">
        <p>
          Con EasyDataManager la gestion de inventario, trabajadores, pedidos y
          proveedores se volveran una tarea sencilla de hacer con su interfaz
          que favorece a la rapidas de una ruta a otra, ademas de una gran
          seguridad y todo desde donde tu decidas.
        </p>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="tpv-medio">
    <div class="row">
      <div class="col">
        <h5>1. Terminal punto de venta</h5>
        <h3>TPV que facilita tus ventas</h3>
        <p>
          Gestiona tu negocio de forma sencilla,rapida y eficiente para darle un
          plus a tu negocio. Incrementa tus ventas y gana tiempo valioso para otras
          actividades que lo requieran.
        </p>
      </div>
      <div class="col">
        <img
            src="../../../assets/ventas.PNG"
            alt=""
            width="674.5"
            height="330.5"
          />
      </div>
    </div>
  </div>
  <br>
  <div class="gestion-medio">
    <div class="row">
      <div class="col">
        <img
            src="../../../assets/Captura.PNG"
            alt=""
            width="674.5"
            height="330.5"
          />
      </div>
      <div class="col">
          <h5>2. Administrador</h5>
        <h3>Facil administracion</h3>
        <p>
          Nuestro administrador ofrece un facil manejo de productos, clientes,
          proveedores, empleados. con una interfaz clara y sin rodeos.
        </p>
      </div>
    </div>
  </div>
</div>


<br>
<br>
<hr>

    <div class="subtitulotpv">
      <div class="container">
        <footer class="container">
          <p class="float-end"><a href="#">Volver arriba</a></p>
          <p>© 2022 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
      </div>
    </div>

<br>

